*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# emacs
*~

# other profile pictures
*.png
*.jpg

# tmp files
first_page/resume_first_page-trim.pdf
kaszynski_resume-full-qual.pdf
kaszynski_resume.pdf
resume-trim.pdf
